<ion-content  >
  <div>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="4" size-xs="5">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com"  [(ngModel)]="user.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" color="danger"  expand="block" (click)='login(user)' round>Login</ion-button>
            </div>
            <ion-row>
              <div text-center>
            If you don't have an account, please <a routerLink='/register'>
              Register</a> first!<br>
            </div>

          </ion-row>
          <div text-center>
            <a routerLink="/forgot-password">
            Forgot Password?</a></div><br>
          <div><ion-button class="ion-padding" color="primary" (click)='facelogin()'>
            Facebook
            </ion-button>

            <ion-button class="ion-padding" color="primary" (click)='loginGoogle()'>
              Google
              </ion-button>
              </div>
          <ion-row>
            <div text-center>
            </div>
        </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
